<form action="/users/<%= @user.id %>" method="post">
	<input name="_method" type="hidden" value="put">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<input type="text" name="user[first_name]" placeholder="First Name">
	<input type="text" name="user[last_name]" placeholder="Last Name">
	<input type="text" placeholder="Email Address" name="user[email_address]">
	<input type="password" name="user[password]" placeholder="Password">
	<input type="submit" value="Register">
</form>
